body {
  font-size: 120%;
  font-family: Arial;
  background: repeating-linear-gradient(to left,rgb(160, 151, 151),rgb(204, 172, 172));
}

button, input {
  font-size: 100%;
  font-family: Arial;
  box-shadow: rgb(39, 38, 38);
}

table {
  width: 100%;
}

td, th {
  border: 1px solid #726c6c;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #b67979;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
}

.total {
  font-size: 150%;
  text-decoration: underline;
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}
button{
  border-radius: 12px;
  height: 39px;
  background-color: rgb(204, 172, 172);
  cursor: pointer;
}
button:hover{
  background-color: blanchedalmond;
}
input {
  height: 50px;
  width: 85%;
  margin-bottom: 7px;
  justify-content: center;
  text-align: center;
  background-color: rgb(240, 229, 188);
}